<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
    <meta charset="utf-8"> 
    <title>ENVHR</title>
    <meta name="description" content="">
    <meta name="author" content=""> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
    <link rel="shortcut icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/font-awesome.min.css"> 
    <link href="~/css/fonts.googleapis.opensans.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/smartadmin-skins.min.css"> 
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/demo.min.css"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
</head>
<body class="animated fadeInDown">
     <header id="header">
         <div id="logo-group"></div>
         
    </header>
    <div id="main" role="main">
        <div id="content" class="container">
            @RenderBody();
        </div>
    </div>
</body>
</html>