<div id="logo-group" style="margin-left:0px !important; margin-top:0px !important;">
    <span id=" logo">
        <img src="~/img/seal.jpg" alt="ReportCentral" style="width:220px !important;height:180px !important;">
    </span>
    <span>
        <img src="~/img/title.jpg" alt="ReportCentral" style="padding-left:240px !important;margin-top:-20px !important;" id="title_logo">
    </span>
</div>
<div class="pull-right">
    <div id="hide-menu" class="btn-header pull-right">
        <span><a href="javascript:void(0);" title="Collapse Menu" data-action="toggleMenu"><i class="fa fa-reorder"></i></a></span>
    </div>
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
        <li class="">
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i>Setting</a>
                </li>
                <li class="divider"></li>

                <li>
                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i><u>S</u>hortcut</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i>Full <u>S</u>creen</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i><strong><u>L</u>ogout</strong></a>
                </li>
            </ul>
        </li>
    </ul>
    <div id="fullscreen" class="btn-header transparent pull-right">
        <span><a href="javascript:void(0);" title="Full Screen" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i></a></span>
    </div>
</div>
