	<!-- RIBBON -->
<div id="horizmenu" style="height:19px !important;background-color:#cedbeb !important;width:100% !important;border: 1px solid;border-color:#FFFFFF !important;">
    <span id="ribbon_username" style="float:right !important; color:#1A609C !important;font-size:small !important;padding-right:13px !important;"></span>
</div>
<div id="ribbon" style="height:19px !important;border-right:1px solid;border-color:#FFFFFF !important;">
    <span id="ribbon_date" style="float:right !important; color:#FFFFFF !important;font-size:small !important;padding-left:10px !important;"></span>
</div>
<div id="headband" style="height:40px !important;background-color:#1A609C !important;width:100% !important;border: 1px solid;border-color:#FFFFFF !important;">
    <span id="ribbon_text" style="color:#FFFFFF !important;font-size:x-large !important;padding-left:10px !important;"></span>

</div>
